{% extends 'base.html.twig' %}

    {% block body %}
         <div class="col-sm-10 col-md-10 col-md-offset-1 main">
         <a class="btn btn-warning" href="{{ path('crearHotel')}}">Crear hotel</a>
         <hr>
          <h2 class="sub-header">Lista de Hoteles</h2>

          {% for flashMessage in app.session.flashbag.get('succesfull') %}
                <div class='alert alert-success'>
                    {{ flashMessage }}
                </div>
          {% endfor %}
          
          <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Responsable</th>
                    <th>Dirección</th>
                    <th>Código Postal</th>
                    <th>Cadena</th>
                    <th>Precio por hora</th>
                    <th>Mínimo de horas</th>
                    <th></th>
                </tr>
                {% for hotel in hoteles %}
                <tr>
                    <td>{{ hotel.id }}</td>
                    <td>{{ hotel.nombre }}</td>
                    <td>{{ hotel.responsable }}</td>
                    <td>{{ hotel.direccion }}</td>
                    <td>{{ hotel.codigoPostal }}</td>
                    <td>{{ hotel.idCadena.nombre }}</td>
                    <td>{{ hotel.precioHora }}</td>
                    <td>{{ hotel.minHoras }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('editarHotelGet', {'id' : hotel.id} )}}">Modificar
                        <a class="btn btn-danger" href="{{ path('borrarHotel', {'id' : hotel.id} )}}">Eliminar
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>

{% endblock %}