{% extends 'base.html.twig' %}

{% block body %}


         <div class="col-sm-12 col-md-12 main">
          <h2 class="sub-header">History list</h2>

          {% for flashMessage in app.session.flashbag.get('succesfull') %}
                <div class='alert alert-success'>
                    {{ flashMessage }}
                </div>
          {% endfor %}
          
          <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
                {% for habitacion in habitaciones %}
                <tr>
                    <td>{{ habitacion.id }}</td>
                    <td>{{ habitacion.nombre }}</td>
                    <td>{{ habitacion.descripcion}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('editarGet', {'id' : habitacion.id} )}}">Modificar
                        <a class="btn btn-danger" href="{{ path('borrar', {'id' : habitacion.id} )}}">Eliminar
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>

{% endblock %}